@font-face {
    font-family: 'Okta Neue Normal';
    src: local('Okta Neue Normal'), url('Groteskly Yours  Okta Neue Normal.woff') format('woff');
    }

@font-face {
    font-family: 'Okta Neue Light';
    src: local('Okta Neue Light'), url('Groteskly Yours  Okta Neue Light.woff') format('woff');
    }
         
 @font-face {
     font-family: 'Okta Neue Medium';
     src: local('Okta Neue Medium'), url('Groteskly Yours  Okta Neue Medium.woff') format('woff');
    }

 @font-face {
    font-family: 'Okta Neue SemiBold';
    src: local('Okta Neue SemiBold'), url('Groteskly Yours  Okta Neue SemiBold.woff') format('woff');
    }

 @font-face {
    font-family: 'Okta Neue Light Italic';
    src: local('Okta Neue Light Italic'), url('Groteskly Yours  Okta Neue Light Italic.woff') format('woff');
    }

.left-navigation {
    float: left;
}

.right-navigation {
    float: right;
}

#logo {
    height: 60px;
}

nav {
    width: 100%;
    background-color: white;
    float: right;
}

body {
    font-weight: 100;
    font-style: normal;
}

.nav-item {
    color: #29363b;
    text-align: center;
    display: inline-block;
    height: 60px;
    width: 100px;
    background-color: white;
    font-size: 16px;
    font-family: 'Okta Neue Normal';
    padding: 17px 0px;
    letter-spacing: 1px;
}

#page-view {
    height: 98%;
    width: 94%;
    padding: 1% 3%;
    display: flex;
    flex-flow: column nowrap;
}

h1 {
    font-size: 175px;
    color: #29363b;
    font-family: 'NewYork';
    font-weight: 100;
    line-height: 209px;
    letter-spacing: 20px;
    margin: 0;
}

h2 {
    font-size: 150px;
    color: #29363b;
    font-family: 'NewYork';
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 20px;
}

h3 {
    font-size: 24px;
    color: #29363b;
    font-family: 'Okta Neue Medium';
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 4px;
    line-height: 25px;
}

h4 {
    font-size: 24px;
    color: #29363b;
    font-family: 'Okta Neue Normal';
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 4px;
    line-height: 39px;
    margin: 4px 0;
}

h5 {
    font-size: 18px;
    color: #29363b;
    font-family: 'Okta Neue Light Italic';
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 4px;
    line-height: 25px;
}

p {
    font-size: 18px;
    color: #29363b;
    font-family: 'Okta Neue Normal';
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 4px;
    line-height: 25px;
}

button {
    background-color: #CC884B;
    color: white;
    font-family: 'Okta Neue SemiBold';
    font-size: 15px;
    width: 200px;
    height: 50px;
    border: none;
    word-spacing: 1px;
    letter-spacing: 1px;
}

#button-container {
    display: flex;
    margin-top: 40px;
}

#button-container button {
    margin-right: 30px;
}

#background-logo {
    position: absolute;
    height: 1000px;
    top: 120px;
    right: 0px;
    left: auto;
    bottom: auto;
    z-index: -1;
    opacity: .25;
    overflow: hidden;
}

#hero-section {
    display: flex;
    flex-flow: column nowrap;
}
s
.header {
    height: 420px;
    padding-bottom: 50px;
}

.body-paragraph {
    font-size: 18px;
    font-family: 'Okta Neue Light';
    font-weight: 100;
    color: #29363b;
    margin-bottom: 20px;
}

li {
    color: white;
    font-family: 'Okta Neue Normal';
    font-size: 18px;
    list-style-type: none;
    text-align: left;
}

ul {
    position: absolute;
}

footer {
    background-color: #29363b;
    height: 200px;
    padding: 50px;
    display: flex;
    margin-top: 250px;
}

#bottom-tag {
    font-size: 18px;
    color: white;
    font-family: 'Okta Neue Light Italic';
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 4px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}